---
const { weekday, date } = Astro.props;
---

<div class="w-10 flex flex-col items-center justify-center">
    <span class="text-md md:text-sm">{weekday.toUpperCase()}</span>
    <span class="text-4xl md:text-3xl">{date}</span>
</div>